* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,rgb(224, 255, 255),white);
  }
  
  .welcome{
    color: rgb(80, 80, 80);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin:  20px;
  }
  .welcome-subtext
  {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
  .dogicon-left{
    width:7%;
    margin-right: 20px;
    margin-left: 100px;
  }
  .dogicon-right{
    width:7%;
    margin-right: 100px;
    margin-left: 20px;
  }
  .introduction-text{
    text-align: center;
    font-size: 20px;
  }
  .bored-btn{
    margin-left: 100px;
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    padding:5px;
    box-sizing: border-box;
  }
  .content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .dog{
    max-width: 50vw;
    max-height: 70vh;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 10px solid white;
  }
  .input{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .register{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .sign-fields{
    display: flex; 
  }
  .register-element{
    margin:2px;
    width:150px;
    height:35px;
    padding-left:5px
  }
  .enter-name{
    margin: 10px 0px;
    font-size: 20px;
    font-weight:bold;
  }
  .text-box{
    margin: 10px 0px;
    width: 300px;
    height:50px;
    padding: 6px;
  }
  .btn{
    width: 200px;
    height: 40px;
    padding:3%;
    box-sizing: border-box;
  }
  .generated-predictions{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(80, 80, 80);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    margin-top: 5%;
  }
  .prediction{
    color: rgb(80, 80, 80);
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px;
  }

  @media only screen and (max-width: 800px){
    .dogicon-left{
      width:50px;
      margin-right: 20px;
      margin-left: 50px;
    }
    .dogicon-right{
      width:50px;
      margin-right: 50px;
      margin-left: 20px;
    }
    .introduction-text{
      font-size:18px;
    }
    .dog{
      max-width: 70vw;
    }
    .input{
      margin-right: 0px;
    }
    .sign-fields{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .register-element{
      width:200px;
    }
    .register{
      font-size: 15px;
    }
    .bored-btn{
      margin-left: 30vw;
    }
  }

  