* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .api{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .welcome{
    text-align: center;
  }
  .dog{
    height: 500px;
    margin-bottom: 20px;
  }
  